body {
    font-family: Montserrat Alternates;
    background-color: #f4f4f4;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.main-header{
    margin-top: 32px;
}
.main-header p {
    text-align: center;
}
.logo{
    width:255px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}
.site-description{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    width: 1197px;
    margin-left: auto;
    margin-right: auto;
}
.hero{
    width: 1187px;
    margin: 0 auto;
}

.result-container{
    margin-top: 32px;
}
.case-container{
    margin-top: 110px;
}
section {
    text-align: center;
}
.case-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.case-title {
    margin-right: 10px;
}

.work-buttons{
    display: flex;
    justify-content: space-between;
}
.cases-buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.case-title{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}


.slider-container {
    position: relative;
    width: 50px;
    height: 26px;
    cursor: pointer;
    margin-top: 10px;
    background: #F1F1F1;
    border: 2px solid #7C1C16;
    border-radius: 13px;
    overflow: hidden;
}
.slider-container:hover {
    transform: scale(1.1); /* увеличиваем размер при наведении для эффекта визуализации */
}
.slider-knob {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translate(100%, -50%);
    width: 20px; /* Уменьшили диаметр круга */
    height: 20px; /* Уменьшили диаметр круга */
    background-color: #7C1C16;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

label{
    margin: 0;
}
.input-textaera{
    width: 1187px;
    height: 371px;
    border-radius: 40px;
    border: 4px solid #EF3124;
    margin-bottom: 24px;
    box-sizing: border-box;
    padding: 20px;

    overflow: auto;
    resize: none;
    position: relative;


    color: #3D3D3D;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}


.input-textaera::-webkit-scrollbar {
    width: 12px;
}
.input-textaera::-webkit-scrollbar-thumb {
    background-color: #7C1C16;
    border-radius: 5px;
}

.input-textaera::-webkit-scrollbar-track {
    background: #B8B8B8;
    border-radius: 5px;
    margin: 25px;
}



.popup-container {
    position: relative;
    height: 100%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.overlay.hidden{
    background-color: transparent;
}

.popup {

    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
    z-index: 2;
}
.cases-table-popup{
    width: 80%;
    max-width: 150vh    ;
    max-height: 100vh;
    height: auto;
}

.popup:has(.cases-buttons){
    max-width: 50vh    ;
    max-height: 20vh;

    position: fixed;
    top: 38%;
    left:80%;
    box-shadow: none;
    border-radius: 15px;
    border: 2px solid #3D3D3D;

}
.popup-content:has(.cases-buttons){
    margin-right: 8px;
    margin-bottom: 14px;
    margin-left: 8px;
}

.popup-content {
    text-align: center;
}

.popup h2 {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
    margin-bottom: 35px;

    font-size: 36px;

}

#showPopup {
    margin-top: 20px;
    margin-bottom: 24px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin-left: auto;

    background-color: transparent;
    border: none;
    padding: 0;

    color: #EF3124;

    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

#closePopup {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}
.case-rules-table {
    border-collapse: collapse;
    width: 100%;
    /*width: 1135px;*/
    border-radius: 8px;
    overflow: auto;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.case-rules-table td {
    width: 284px;
    height: 64px;
    border: 1px solid #696973;;
    text-align: center;
    vertical-align: top;
}
.case-rules-table td:first-child {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}
.case-rules-table tr:nth-child(even) {
    background-color: #B5B5B5;
}

.case-rules-table tr:nth-child(odd) {
    background-color: #D9D9D9;
}
.case-rules-table tr:first-child{
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.popup-content{
    margin-right: 180px;
    margin-bottom: 20px;
    margin-left: 54px;
}
.popup table {
    position: relative; /* Добавлено для использования абсолютного позиционирования внутри .popup */
}
.examples{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
}
.popup h2{
    margin-bottom: 20px;
}
.examples span{
    color: #7C1C16;
    font-weight: 600;
}
.popup #closePopup {
    position: absolute;
    top: 10px; /* Подберите нужный вам отступ от верхнего края */
    right: 10px; /* Подберите нужный вам отступ от правого края */
    margin-right: 36px;
    margin-top: 30px;

    background-color: transparent;
    border: none;
    padding: 0;
}

.declination-button.disabled {
    border-radius: 50px;
    background: linear-gradient(270deg, #494949 0%, #BDBDBD 100%);
    color: #F1F1F1;
    cursor: not-allowed;
}
.declination-button, .send-button{
    text-decoration: none;
    display: flex;
    width: 283px;
    height: 55px;
    border-radius: 50px;
    background: linear-gradient(270deg, #7C1C16 0%, #EF3124 100%);
    padding: 0;
    align-items: center;
    border: none;
}
.declination-button img,  .send-button img{
    margin-left: 40px;
    margin-right: 11px;
}
.declination-button p, .send-button p{
    color:#F1F1F1;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.import-button, .download-button{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    color:#EF3124;
    border: none;
    padding: 0;
}

.import-button{
    display: grid;
}
.import-txt{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.go-back-button{
    text-decoration: none;
    display: flex;
    align-items: center;

    width: 250px;
    text-wrap: nowrap;

    outline: none;
}
.go-back-button p {
    color:#EF3124;
}

.card-list{
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.card-list .card{
    margin-bottom: 36px;
    width: 1187px;
    height: 196px;
    border-radius: 25px;
    background: #D9D9D9;
}
.card-header{
    display: flex;
    justify-content: space-between;
}
.card-header img{
    margin-top: 28px;
    margin-right: 28px;
}
.card-list .card .card-title{
    text-align: left;
    margin-left: 32px;
    padding-top: 24px;
    margin-bottom: 24px;
}

.results-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.result-item{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
.result-item p{
    margin: 0;
}
.result-item .case-name{
    margin-left: 32px;
    margin-right: 62px;
}



.dislike{
    margin-left: 1103px;
    margin-right: 10px;
    margin-top: -30px;
}
.like{
    margin-top: -30px;
}

.evaluation{
    margin-right: 20px;
}

.view-buttons{
    display: flex;
}
.change-view{
    background-color: #f4f4f4;
    border: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-right: 48px;
}
.change-view.active{
    color: #EF3124;
    text-decoration: underline 2.5px #EF3124;;
}
.field-header{
    display: flex;
    justify-content: space-between;
}

.download-button {
    text-wrap: nowrap;
}

.error-container h1{
    color: #3D3D3D;

    font-size: 36px;

    text-align: left;
}

.error-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.error-label{
    text-align: left;
    display: block;
    padding-left: 18px;
    margin-bottom: 8px;
}
.error-list li input{
    width: 1187px;
    height: 57px;

    border-radius: 15px;
    border: 4px solid #EF3124;

    background: #F1F1F1;

    margin-bottom: 24px;
    box-sizing: border-box;
    padding: 20px;

    color: #3D3D3D;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.error-textaera{
    width: 1150px;
    height: 136px;

    border-radius: 25px;
    border: 4px solid #EF3124;
    background: #F1F1F1;

    padding: 20px;

    color: #3D3D3D;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.send-button{
    margin-left: auto;
}


.send-button{
    margin-top: 40px;
    margin-bottom: 40px;
}

.clipboard-trigger:hover, .clipboard-trigger-one-result:hover{
    transform: scale(1.3);
}
